.regels {
  left: 8px;
}

/* Control the right side */

.kaart {
  right: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container .left {
  width: 20%;
}

/*
.flex-container .resizer {
  width: 3px;
  border: solid;
  border-width: 1px;
  border-color: black;
  cursor: ew-resize;
}
*/

.flex-container .right {
  width: 80%;
}