.container {
  margin-left: 10px;
  margin-right: 10px;
}

.mrow {
  display: flex;
  flex-wrap: wrap;
}

/* Split the screen in half */

.splitleft {
  height: 100%;
  width: calc(20% - 8px -3px);
  /* bootstrap left position */
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.resizer {
  height: 100%;
  width: 3px;
  left: calc(20% - 8px);
  position: fixed;
  resize: horizontal;
  border: solid;
  border-width: 1px;
  border-color: black;
  cursor: ew-resize;
}

.splitright {
  height: 100%;
  width: calc(80%);
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* Control the left side */

.regels {
  left: 8px;
}

/* Control the right side */

.kaart {
  right: 0;
}

/*
.resizable {
  
  background: white;
   width: 100px;
     height: 100px; 
  position: absolute;
  top: 100px;
  left: 100px;
  
  overflow: hidden;
}

.resizable .resizers {
  width: 100%;
  height: 100%;
  border: 3px solid black;
  box-sizing: border-box;
}

.resizable .resizers .resizer {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  magic to turn square into circle
  background: white;
  border: 3px solid black;
  position: absolute;
}

.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize;
  resizer cursor
}

.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}

.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}

.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}
*/